body {
  font-family: Arial;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

#main {
  display: grid;
}
//----------------------- STYLES RELATED TO CONFIG FILES------------------------------ //

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}
// .string {
//   color: green;
// }
// .number {
//   color: darkorange;
// }
// .boolean {
//   color: blue;
// }
// .null {
//   color: magenta;
// }
.key {
  color: #5566c3;
}

#configHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#configBtns {
  display: flex;
}

#backBtn,
#submitBtn {
  height: 3.25em;
  width: 6em;
  color: white;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #3f51b5;
  outline: none;
}

#backBtn:hover,
#submitBtn:hover {
  cursor: pointer;
}

#yamlContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#currentYaml {
  white-space: pre-wrap;
}

#editYaml {
  white-space: pre-wrap;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  resize: none;
  width: 90%;
  height: 80%;
  border-radius: 5px;
  border: 3px solid #3f51b5;
  outline: none;
  margin-right: 40px;
}

//------------------------------------------------------------------------------- //

#login-container {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1.25fr;
  grid-template-rows: 20vh 43vh 37vh;
  grid-template-areas:
    '. . .'
    '. login .'
    '. . .';
}

#login {
  grid-area: login;
  background-color: white;
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  box-shadow: 5px 10px 10px #bfbfbf;
}

#form {
  padding: 0.5em 3em;
}

form div {
  padding: 0;
  margin: 0;
}

#app-name h1 {
  padding: 0.5em;
  margin: 0;
}

#loading {
  display: flex;
}
#loading > {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

// .tableHolder {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 5px;
// }
